<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/stickyfooter.css"/>
    <link rel="stylesheet" href="/css/userstyle.css"/>

    <title>CatWatch</title>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <div class="navbar-brand h1">Cat Watch</div>
        <div class="nav">
            <div class="nav-item mr-auto"></div>
            <div class="nav-item px-2">Date: </div>
            <div class="nav-item" th:text="${date}">DATE</div>
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-left">
                Summary
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                <tr>
                    <th class="h3">Cat</th>
                    <th class="h3">First</th>
                    <th class="h3">Last</th>
                    <th class="h3">Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="summary : ${summaries}">
                    <td>
                        <a th:href="@{'/dailyfeeds/'+${date}+'/'+${summary.key}}">
                            <img class="img-thumbnail border-0" th:src="'/cat/' + ${summary.key}"/>
                        </a>
                    </td>
                    <td class="h3" th:text="${summary.value.first}">FIRST</td>
                    <td class="h3" th:text="${summary.value.last}">LAST</td>
                    <td class="h3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 th:attr="aria-valuenow=${summary.value.count},style='height: 2rem; width: ' + ${summary.value.progress}"
                                 style=""
                                 aria-valuenow="${summary.value.count}" aria-valuemin="0" aria-valuemax="30">
                            </div>
                        </div>
                        <div th:text="${summary.value.count}" class="progressText h4">progresstext</div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">

            <table class="table">
                <thead>
                <tr>
                    <th class="h3">Date</th>
                    <th class="h3">Time</th>
                    <th class="h3">Duration[s]</th>
                    <th class="h3">Cat</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="feed : ${feeds}">

                    <td class="h3" th:text="${feed.date}">date</td>
                    <td class="h3" th:text="${feed.time}">time</td>
                    <td class="h3 text-right" th:text="${#numbers.formatDecimal(feed.duration,0,1)}">
                        duration
                    </td>
                    <td>
                        <img class="img-thumbnail border-0" th:src="'/cat/' + ${feed.channel}"/>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
</body>
</html>
